
<section class="container-login">
  <div class="containter-logo">
    <img 
    class="logo-image"
    src="/assets/svg/logo-IC.png" 
    alt="logo">
  </div>
  <p class="title">Inicie sesión</p>

  <div class="toggle-buttons">
    <button 
      class="toggle-button"
      [class.active]="isActive('user')"
      (click)="toggleButton('user')"
    >
      Con tu usuario
    </button>
    <button 
      class="toggle-button"
      [class.active]="isActive('email')"
      (click)="toggleButton('email')"
    >Con tu correo</button>
  </div>

  <form
    *ngIf="isActive('user')"
    [formGroup]="userForm"
    class="login-form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="username">
        <i class="material-icons">person</i>
      </label>
      <input 
        type="text" 
        id="username" 
        formControlName="username" 
        placeholder="Nombre usuario *"
        class="input-form"
        required
      >
    </div>
    <div class="form-group">
      <label for="company">
        <i class="material-icons">business</i>
      </label>
      <input 
        type="text"
        id="company" 
        formControlName="company"
        placeholder="Empresa *"
        class="input-form"
        required
      >
    </div>
    <div class="form-group">
      <label for="password">
        <i class="material-icons">vpn_key</i>
      </label>
      <input 
        type="password" 
        id="password" 
        formControlName="password" 
        placeholder="Contraseña *"
        class="input-form" 
        required
      >
    </div>
  </form>

  <form
    *ngIf="isActive('email')"
    [formGroup]="emailForm"
    class="login-form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="email">
        <i class="material-icons">email</i>
      </label>
      <input 
        type="email" 
        id="email"
        formControlName="email"
        placeholder="Correo electrónico *"
        class="input-form"
        required
      >
    </div>
    <div class="form-group">
      <label for="password">
        <i class="material-icons">vpn_key</i>
      </label>
      <input 
        type="password" 
        id="password" 
        formControlName="password" 
        placeholder="Contraseña *"
        class="input-form" 
        required
      >
    </div>
  </form>

  <button 
    type="submit" 
    class="btn-submit"
    [disabled]="isSubmitDisabled"
    [ngClass]="{ 'btn-disabled': isSubmitDisabled }"
    [matTooltip]="isSubmitDisabled ? 'Todos los campos son requeridos' : ''"
    matTooltipPosition="above"
    (click)="onSubmit()"
  >
    <span *ngIf="isLoading">Cargando...</span>
    <span *ngIf="!isLoading">INGRESAR</span>
  </button>

  <footer class="login-footer">
    <div>
      <a 
        href="javascript:void(0)" 
        class="forgot-password"
        (click)="openModal()"
      >¿Olvidaste tu contraseña?</a>
    </div>
    <div class="contact-client">
      <p>¿No eres cliente?</p>
      <a 
        href="javascript:void(0)" 
        class="contact-link"
        (click)="openModal()"
      > Contáctanos aquí</a>
    </div>
  </footer>
<!-- primer modal -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <div class="modal-icon">
      <i class="material-icons warning-icon">build</i>
    </div>
    <p class="modal-title">Funcionalidad no implementada</p>
    <p class="modal-content-text">Esta opción aún no está disponible. Estamos trabajando para habilitarla próximamente.</p>
    <hr>
    <div class="container-btn">
      <button class="btn-confirm" (click)="closeModal()">ENTENDIDO</button>
    </div>
  </div>
</div>
  <!-- segundo modal -->
  <div class="modal secondary-modal" *ngIf="showSecondaryModal">
    <div class="modal-content">
      <div class="modal-icon">
        <i class="material-icons warning-icon">error_outline</i>
      </div>
      <p class="modal-title">
        ¡Tu correo electrónico no está habilitado para ingresar mediante esta opción!
      </p>
      <p class="modal-content-text">
        Para acceder debes hacerlo utilizando tu 
        <strong>usuario, organización y clave</strong>.
      </p>
      <hr>
      <div class="container-btn">
        <button class="btn-confirm" (click)="closeSecondaryModal()">ENTENDIDO</button>
      </div>
    </div>
  </div>
</section>