<section class="container-login">
  <div class="containter-logo">
    <img 
      class="logo-image"
      src="/assets/svg/logo-IC.png" 
      alt="{{ 'login_page.logo_alt' | translate }}">
  </div>
  <p class="title">{{ 'login_page.title' | translate }}</p>

  <div class="toggle-buttons">
    <button 
      class="toggle-button"
      [class.active]="isActive('user')"
      (click)="toggleButton('user')"
    >
      {{ 'login_page.toggle_button_user' | translate }}
    </button>
    <button 
      class="toggle-button"
      [class.active]="isActive('email')"
      (click)="toggleButton('email')"
    >
      {{ 'login_page.toggle_button_email' | translate }}
    </button>
  </div>

  <form
    *ngIf="isActive('user')"
    [formGroup]="userForm"
    class="login-form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="username">
        <i class="material-icons">person</i>
      </label>
      <input 
        type="text" 
        id="username" 
        formControlName="username" 
        [placeholder]="'login_page.form_user.username_placeholder' | translate"
        class="input-form"
        required
      >
    </div>
    <div class="form-group">
      <label for="company">
        <i class="material-icons">business</i>
      </label>
      <input 
        type="text"
        id="company" 
        formControlName="company"
        [placeholder]="'login_page.form_user.company_placeholder' | translate"
        class="input-form"
        required
      >
    </div>
    <div class="form-group">
      <label for="password">
        <i class="material-icons">vpn_key</i>
      </label>
      <input 
        type="password" 
        id="password" 
        formControlName="password" 
        [placeholder]="'login_page.form_user.password_placeholder' | translate"
        class="input-form" 
        required
      >
    </div>
  </form>

  <form
    *ngIf="isActive('email')"
    [formGroup]="emailForm"
    class="login-form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="email">
        <i class="material-icons">email</i>
      </label>
      <input 
        type="email" 
        id="email"
        formControlName="email"
        [placeholder]="'login_page.form_email.email_placeholder' | translate"
        class="input-form"
        required
      >
    </div>
    <div class="form-group">
      <label for="password">
        <i class="material-icons">vpn_key</i>
      </label>
      <input 
        type="password" 
        id="password" 
        formControlName="password" 
        [placeholder]="'login_page.form_email.password_placeholder' | translate"
        class="input-form" 
        required
      >
    </div>
  </form>

  <button 
    type="submit" 
    class="btn-submit"
    [disabled]="isSubmitDisabled"
    [ngClass]="{ 'btn-disabled': isSubmitDisabled }"
    [matTooltip]="isSubmitDisabled ? ('login_page.submit_button.tooltip' | translate) : ''"
    matTooltipPosition="above"
    (click)="onSubmit()"
  >
    <span *ngIf="isLoading">{{ 'login_page.submit_button.loading' | translate }}</span>
    <span *ngIf="!isLoading">{{ 'login_page.submit_button.default' | translate }}</span>
  </button>

  <footer class="login-footer">
    <div>
      <a 
        href="javascript:void(0)" 
        class="forgot-password"
        (click)="openModal()"
      >{{ 'login_page.footer.forgot_password' | translate }}</a>
    </div>
    <div class="contact-client">
      <p>{{ 'login_page.footer.not_a_client' | translate }}</p>
      <a 
        href="javascript:void(0)" 
        class="contact-link"
        (click)="openModal()"
      > {{ 'login_page.footer.contact_us' | translate }}</a>
    </div>
  </footer>

  <div 
    class="modal"
    *ngIf="showNotImplementedModal"
  >
    <div class="modal-content">
      <div class="modal-icon">
        <i class="material-icons warning-icon">build</i>
      </div>
      <p class="modal-title">{{ 'login_page.not_implemented_modal.title' | translate }}</p>
      <p class="modal-content-text">{{ 'login_page.not_implemented_modal.content' | translate }}</p>
      <hr>
      <div class="container-btn">
        <button class="btn-confirm" (click)="closeModal()">{{ 'login_page.not_implemented_modal.button' | translate }}</button>
      </div>
    </div>
  </div>

  <div 
    class="modal email-not-enabled-modal" 
    *ngIf="showEmailNotEnabledModal"
  >
    <div class="modal-content">
      <div class="modal-icon">
        <i class="material-icons warning-icon">error_outline</i>
      </div>
      <p class="modal-title">{{ 'login_page.email_not_enabled_modal.title' | translate }}</p>
      <p class="modal-content-text" [innerHTML]="'login_page.email_not_enabled_modal.content' | translate">
      </p>
      <hr>
      <div class="container-btn">
        <button 
          class="btn-confirm" 
          (click)="closeEmailNotEnabledModal()"
        >
          {{ 'login_page.not_implemented_modal.button' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>